{% extends 'include/base.html' %}
{%load static%}
{% block title %}SkillSwap - Change Password{% endblock %}
{% block content %}
	<div class="container">
        {% include 'include/messages.html' %}
		<div class="center-box-container">
			<div class="com-logo text-center">
			</div>
			<form id="change-password-form" class="form" action="{% 'change_password' %}" method="post">
                {% csrf_token %}
				<h3 class="text-center ">Change Password</h3>
				<div class="form-group">
					<label>Current Password</label>
					<i class="fa fa-lock form-group-input-icon" style="margin-left:0.4em"></i>
					<input type="password" name="current_password" id="current_password" class="form-control form-group-input" placeholder="Enter current password" required>
					<span class="password-toggle" id="password-toggle" onclick="togglePasswordVisibility('current_password')"><i class="fa fa-eye form-group-input-icon"></i></span>
				</div>
				<div class="form-group">
					<label>New Password</label>
					<i class="fa fa-lock form-group-input-icon" style="margin-left:0.4em"></i>
					<input type="password" name="password" id="password" class="form-control form-group-input" placeholder="Enter New password" required>
					<span class="password-toggle" id="password-toggle" onclick="togglePasswordVisibility('password')"><i class="fa fa-eye form-group-input-icon"></i></span>
				</div>
				<div class="form-group">
					<label>Re-enter New Password</label>
					<i class="fa fa-lock form-group-input-icon" style="margin-left:0.4em"></i>
					<input type="password" name="verify_password" id="verify_password" class="form-control form-group-input" placeholder="Enter New password again" required>
					<span class="password-toggle" id="password-toggle" onclick="togglePasswordVisibility('verify_password')"><i class="fa fa-eye form-group-input-icon"></i></span>
				</div>
				<div class="form-group">
	            	<a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
            		<button type="submit" class="btn btn-primary" name="btn">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		function togglePasswordVisibility(passwordId) {
	        var passwordInput = document.getElementById(passwordId);
	        var passwordToggle = passwordInput.nextElementSibling;

			if (passwordInput.type === "password") {
				passwordInput.type = "text";
				passwordToggle.innerHTML = '<i class="fa fa-eye-slash form-group-input-icon"></i>';
			} else {
				passwordInput.type = "password";
				passwordToggle.innerHTML = '<i class="fa fa-eye form-group-input-icon"></i>';
			}
		}
	</script>
{% endblock content %}

